.chart {
  background: linear-gradient(to right bottom, #ffffffe6, #ffffff66);
  border-radius: 15px;
  margin: 0.5rem;
  padding: 0.5rem 0;
  font-family: inherit;
}

@media (min-width: 40rem) {
  .chart {
    width: 90%;
    margin: 1rem 5%;
    display: flex;
    flex-direction: column;
  }
}
